<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <display-name>BookStore - 24162056</display-name>

    <filter>
        <filter-name>CharacterEncodingFilter_24162056</filter-name>
        <filter-class>com.hcmute.bookstore.filter.CharacterEncodingFilter_24162056</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter_24162056</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AdminAuthorizationFilter_24162056</filter-name>
        <filter-class>com.hcmute.bookstore.filter.AdminAuthorizationFilter_24162056</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminAuthorizationFilter_24162056</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>UserAuthorizationFilter_24162056</filter-name>
        <filter-class>com.hcmute.bookstore.filter.UserAuthorizationFilter_24162056</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserAuthorizationFilter_24162056</filter-name>
        <url-pattern>/cart</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorizationFilter_24162056</filter-name>
        <url-pattern>/cart/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorizationFilter_24162056</filter-name>
        <url-pattern>/checkout</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorizationFilter_24162056</filter-name>
        <url-pattern>/checkout/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorizationFilter_24162056</filter-name>
        <url-pattern>/orders</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserAuthorizationFilter_24162056</filter-name>
        <url-pattern>/orders/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>30</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
        </cookie-config>
    </session-config>
</web-app>
